In [2]:
import pandas as pd
from pathlib import Path
import sqlite3

pd.set_option('display.max_columns', None)

#sqlite in RAM memory decleration 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()
#Python lib to resolve directory
scriptDir = Path.cwd()
dataDir = scriptDir.parent / "data"

In [3]:
customers = pd.read_csv(dataDir/"customers.csv")
articles = pd.read_csv(dataDir/"articles.csv")
transactions = pd.read_csv(dataDir/"transactions_train.csv")  # Update path if needed

transactions.head().style.set_caption("Transactions")

In [7]:
customers.head().style.set_caption("Customers")

In [10]:
articles.head().style.set_caption("Articles")

In [12]:
customers.to_sql('customers',conn,False,'replace')
articles.to_sql('articles',conn,False,'replace')
transactions.to_sql('transactions',conn,False,'replace')

sqlCustomerTransactionsQuery = (
    "CREATE TABLE tblCustomerTransactions AS "
    "SELECT c.customer_id, "
    "c.fn, "
    "c.active, "
    "c.club_member_status, "
    "c.fashion_news_frequency, "
    "c.age, "
    "c.postal_code, "
    "t.t_dat AS trans_date, "
    "t.article_id AS trans_article_id, "
    "t.price AS price "
    "FROM customers AS c, articles AS a, transactions AS t "
    "WHERE t.customer_id = c.customer_id and t.t_dat = '2018-09-20' "
)
#Create tblCustomerTransactions of joined Customers and Transactions
cursor.execute("DROP TABLE IF EXISTS tblCustomerTransactions;")
cursor.execute(sqlCustomerTransactionsQuery)

sqlCustomersTransactionsTable = pd.read_sql_query('SELECT * FROM tblCustomerTransactions LIMIT 2000;',conn)

In [13]:
sqlCustomersTransactionsTable.head()
len(sqlCustomersTransactionsTable)

2000

In [15]:
sqlCompleteDataQuery = (
    "CREATE TABLE tblCompleteData AS "
    "SELECT cs.customer_id, "
    "cs.trans_date, "
    "a.article_id, "
    "a.product_type_name, "
    "cs.price, "
    "cs.age, "
    "cs.fashion_news_frequency "
    "FROM articles AS a, tblCustomerTransactions AS cs "
    "WHERE cs.trans_article_id = a.article_id;"
)
cursor.execute("DROP TABLE IF EXISTS tblCompleteData;")
cursor.execute(sqlCompleteDataQuery)

dfTBLCompleteData = pd.read_sql_query('SELECT * FROM tblCompleteData ;',conn)

In [16]:
dfTBLCompleteData.tail().style.set_caption("Final Test Output")

In [32]:
checkingStr = dfTBLCompleteData['article_id'].value_counts()
print(checkingStr)

685687004    19612
631848002    19612
662888002    14709
651456003    14709
692454002    14709
             ...
590920002     4903
590951007     4903
591334019     4903
591702003     4903
714417001     4903
Name: article_id, Length: 283, dtype: int64

In [35]:
len(dfTBLCompleteData)

1637602