In [1]:
import pandas as pd
from pathlib import Path
import sqlite3

#sqlite in RAM memory decleration 
conn = sqlite3.connect(":memory:")
cursor = conn.cursor()
#Python lib to resolve directory
scriptDir = Path.cwd()
dataDir = scriptDir.parent / "data"

In [23]:
customers = pd.read_csv(dataDir/"customers.csv")
articles = pd.read_csv(dataDir/"articles.csv")
transactions = pd.read_csv(dataDir/"transactions_train.csv")  # Update path if needed

transactions.head().style.set_caption("Transactions")

In [14]:
customers.head()

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code
0,00000dbacae5abe5e23885899a1fa44253a17956c6d1c3...,NaN,NaN,ACTIVE,NONE,49.0,52043ee2162cf5aa7ee79974281641c6f11a68d276429a...
1,0000423b00ade91418cceaf3b26c6af3dd342b51fd051e...,NaN,NaN,ACTIVE,NONE,25.0,2973abc54daa8a5f8ccfe9362140c63247c5eee03f1d93...
2,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...
3,00005ca1c9ed5f5146b52ac8639a40ca9d57aeff4d1bd2...,NaN,NaN,ACTIVE,NONE,54.0,5d36574f52495e81f019b680c843c443bd343d5ca5b1c2...
4,00006413d8573cd20ed7128e53b7b13819fe5cfc2d801f...,1.0,1.0,ACTIVE,Regularly,52.0,25fa5ddee9aac01b35208d01736e57942317d756b32ddd...

In [30]:
customers.to_sql('customers',conn,False,'replace')
articles.to_sql('articles',conn,False,'replace')
transactions.to_sql('transactions',conn,False,'replace')

#mySqlQuery = "SELECT c.customer_id,c.FN,c.Active,c.club_member_status,c.fashion_news_frequency,c.age,c.postal_code,t.t_dat as tran date,t.article_id as tran article id, t.price as price FROM customers as c,articles as a,transactions as t WHERE t.customer_id = c.customer_id LIMIT 10;"
mySqlQuery = (
    "SELECT c.customer_id, "
    "c.fn, "
    "c.active, "
    "c.club_member_status, "
    "c.fashion_news_frequency, "
    "c.age, "
    "c.postal_code, "
    "t.t_dat AS trans_date, "
    "t.article_id AS trans_article_id, "
    "t.price AS price "
    "FROM customers AS c, articles AS a, transactions AS t "
    "WHERE t.customer_id = c.customer_id and t.t_dat = '2018-09-20' "
    "LIMIT 500;"
)
sqlCustomersTransactionsTable = pd.read_sql_query(mySqlQuery,conn)
sqlCustomersTransactionsTable

,customer_id,FN,Active,club_member_status,fashion_news_frequency,age,postal_code,trans_date,trans_article_id,price
0,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,2018-09-20,541518023,0.030492
1,000058a12d5b43e67d225668fa1f8d618c13dc232df0ca...,NaN,NaN,ACTIVE,NONE,24.0,64f17e6a330a85798e4998f62d0930d14db8db1c054af6...,2018-09-20,663713001,0.050831
2,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...,2018-09-20,505221001,0.020322
3,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...,2018-09-20,505221004,0.015237
4,00007d2de826758b65a93dd24ce629ed66842531df6699...,1.0,1.0,ACTIVE,Regularly,32.0,8d6f45050876d059c830a0fe63f1a4c022de279bb68ce3...,2018-09-20,685687001,0.016932
...,...,...,...,...,...,...,...,...,...,...
495,00d316a9b10b3d21094e4931f41a42ec7d093bbbd53c7b...,1.0,1.0,ACTIVE,Regularly,36.0,923a13af49ed34a1d9356dc6cd539851bcdac03a454a6b...,2018-09-20,681247001,0.059305
496,00d316a9b10b3d21094e4931f41a42ec7d093bbbd53c7b...,1.0,1.0,ACTIVE,Regularly,36.0,923a13af49ed34a1d9356dc6cd539851bcdac03a454a6b...,2018-09-20,681247002,0.059305
497,00d774cb18ec8f8c73f4a76846782013803b88f206dffd...,1.0,1.0,ACTIVE,Regularly,55.0,e72f0780eff4836efd1b7e78e614a59f6821a0b26eb143...,2018-09-20,651905007,0.016932
498,00d774cb18ec8f8c73f4a76846782013803b88f206dffd...,1.0,1.0,ACTIVE,Regularly,55.0,e72f0780eff4836efd1b7e78e614a59f6821a0b26eb143...,2018-09-20,678983004,0.016932
499,00d781e94d9a533dceb85a8d50a898d5987ad9921ea8c6...,NaN,NaN,ACTIVE,NONE,44.0,c635627ce6e4b5b500615fe91de392abc60a6024de4b4c...,2018-09-20,568858001,0.118627